html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header {
  background-color: aqua;
  height: 50px;
  padding-top: 20px;
  padding-left: 50px;
}

.navigation a {
  padding: 2px 40px;
  border: 1px solid #555;
}

.navigation a:hover {
  background-color: beige;
}
